h1
{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    border: 3px solid rgb(248, 136, 136);
    background-color: rgb(180, 17, 17);
    margin-top: 30px;
    margin: 50px;
    padding: 15px;
    font-weight: bold;
}

.bullet
{
    margin-left: 300px;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}