{% extends "layout.html" %}

{% block title %}Configuration{% endblock %}

{% block content %}
    <h1>CONFIGURATION</h1>

    <form action="/" method="POST" class="bullet">
        <p style="margin-left: -100px; font-size: larger;"><u>CONFIGURE</u> :</p>
        <div>
            <input type="radio" id="unlimited" name="configuration" value="Configure time">
            <label for="unlimited">Time limit</label>
        </div>
        <br>
        <div>
            <input type="radio" id="limited" name="configuration" value="Configure length">
            <label for="limited">Text length</label>
        </div>
    </form>
    <div>
        <p id="forms"></p>
    </div>
    
{% endblock %}