{% extends "layout.html" %}

{% block title %}Configuration{% endblock %}

{% block content %}
    <h1>CONFIGURATION</h1>
    
    <form action="/" method="POST" class="bullet">
        <p style="margin-left: -100px; font-size: larger;"><u>CONFIGURE</u> :</p>
        <div class="form-check">
            <div>
                <input type="radio" id="unlimited" name="configuration" value="unlimited" class="form-check-input" required>
                <label for="unlimited" class="form-check-label">Time limit</label>
            </div>
            <br>
            <div>
                <input type="radio" id="limited" name="configuration" value="limited" class="form-check-input" required>
                <label for="limited" class="form-check-label">Text length</label>
                <div class="invalid-feedback">Select one of the configuration methods</div>
            </div>
        </div>
        <br>
        <div style="text-align: right; margin-right: 100px;">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}