{% extends "layout.html" %}

{% block script %}
    <script rel="text/javascript" src="/static/button_change.js" defer></script>
    <meta name="username" content="{{ username }}">
{% endblock %}
{% block title %} History {% endblock %}

{% block content %}
    <h1>History</h1>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-4">
                {% if user == "user" %}
                    <button class="btn btn-secondary" id="general" onclick="generalButton()">General</button>
                    <button class="btn btn-secondary" id="user" onclick="userButton()">User only</button>
                {% endif %}
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="col align-self-center">
            <table class="text-center table table-dark table-hover talbe-striped table-bordered" id="original">
                <thead>
                    <th scope="col">Run #</th>
                    <th scope="col">User</th>
                    <th scope="col">Type</th>
                    <th scope="col">Time</th>
                    <th scope="col">Speed</th>
                </thead>
                <tbody id="story" class="table-group-divider">
                    {% for run in runs | reverse %}
                        <tr id="run{{ run[0] }}">
                            <th scope="row">{{ run[0] }}</th>
                            <td>{{ run[5] }}</td>
                            <td>{{ run[4] }}</td>
                            {% if run[2] < 10 %}
                            <td>{{ run[1] }}:0{{ run[2] }}</td>
                            {% else %}
                            <td>{{ run[1] }}:{{ run[2] }}</td>
                            {% endif %}
                            <td>{{ run[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p id="speed" class="fw-light"></p>
        </div>
    </div>
    
{% endblock %}