{% extends "layout.html" %}

{% block script %}
    {% assets "js_2" %}
        <script src="{{ ASSET_URL }}" type="module"></script>
    {% endassets %}
    <meta name="difficulty" content="{{ difficulty }}">
{% endblock %}

{% block title %}Text Length keyboard{% endblock %}

{% block content %}
    <h2 class="font-monospace" style="padding: 50px;">GOOD LUCK, {{ player }} !</h2>
    <div>
        <div style="margin-left: 100px; margin-right: 100px;">
            <p id="start" class="font-monospace" style="size: 150px;"></p>
            <p id="textbox" class="font-monospace" style="size: 100px;"></p>
        </div>
        <div style="margin-left: 100px;">
            <input placeholder="Start typing" id="user" name="user" autocomplete="off">
        </div>
        <br>
        <div style="margin-left: 75px;">
            <div>
                <p id="time" class="fst-italic">
                    Time: <span id="min" name="min">0</span></span>:<span id="sec" name="sec">00</span>
                </p>
                <div class="badge bg-primary text-wrap" style="width: 6rem; background-color:grey;">
                    Speed : <span id="speed" name="speed">0</span> wpm
                </div>
            </div>
        </div>
    </div>
        
    
{% endblock %}