{% extends "layout.html" %}

{% block title %}Text Length Configuration{% endblock %}

{% block content %}
    <h1>TEXT LENGTH GAME</h1>
    {% if error %}
        <div class="alert alert-dark alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form action="/limited" method="POST" class="bullet">
        <div class="d-grid gap-2 d-md-flex" style="position:center;">
            <button type="submit" class="btn btn-secondary">START</button>
        </div>
    </form>

{% endblock %}
