{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    <div class="container">
        <form action="/login" method="POST" class="bullet">
            <div class="row gx-1">
                <div class="col">
                    <input type="text" id="username" placeholder="Username" name="username" autocomplete="off" autofocus>
                </div>
                <div class="col">
                    <input type="text" id="password" placeholder="Password" name="password" autocomplete="off" autofocus>
                </div>
                <div class="col">
                    <input type="text" id="confirm" placeholder="Password (again)" name="confirm" autocomplete="off" autofocus>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}