{% extends "layout.html" %}

{% block script %}{% endblock %}

{% block title %}Time configuration{% endblock %}

{% block content %}
    <h1>TIME CONFIGURATION</h1>
    {% if error %}
        <div class="alert alert-dark alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form action="/unlimited" method="POST" class="bullet">
        <div class="row g-2" style="text-align: center;">
            <label for="minutes" class="col-sm-2 col-form-label">Time</label>
            <div class="col-sm-3">
                <input autocomplete="off" autofocus type="number" id="minutes" name="minutes" placeholder="min" class="form-control" min="0" max="59">
            </div>
            <div class="col-sm-3">
                <input autocomplete="off" autofocus type="number" id="seconds" name="seconds" placeholder="sec" class="form-control" min="0" max="59">
            </div>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 50px;">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>

{% endblock %}
